{% extends 'base.html.twig' %}

{% block title %}Twitter City Search{% endblock %}

{% block styles %}

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<style type="text/css">

		body
		{
			background-image: url("http://www.quertime.com/wp-content/uploads/2011/09/best_websites_to_download_free_twitter_backgrounds_and_themes.jpg");
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		.fill
		{
			width: 100%;
			min-height: 100%;
			height: 100vh;
		}

		.centered-content
		{
			margin: 50px 0px;
		}

		.content-title
		{
			background-color: white;
			border-top: solid gray 1px;
			border-left: solid gray 1px;
			border-right: solid gray 1px;
		}

		.main-content
		{
			border: solid gray 1px;
			background-color: white;
			padding: 20px;
		}

		.search-input
		{
			margin-right: 10px;
		}

		.map
		{
			border: solid gray 1px;
			min-height: 66vh;
			margin-bottom: 15px;
		}

		.selects
		{
			margin: 0px;
		}

		.btns-cont
		{
			margin-left: 5px;
		}

		.select-label
		{
			padding-left: 0px !important;
		}

		@media (min-width:480px) and (max-width:1000px)

		{
			.col-sm-1
			{
				-webkit-box-flex: 0 2.5 !important;
				-webkit-flex: 0 0 2.5% !important;
				-ms-flex: 0 0 2.5% !important;
				flex: 0 0 2.5% !important;
				max-width: 2.5% !important;
			}

			.col-sm-10
			{
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 96.5%;
				-ms-flex: 0 0 96.5%;
				flex: 0 0 96.5%;
				max-width: 96.5%;
			}

			.search-section
			{
				margin-bottom: 10px;
			}

			.btns-cont
			{
				margin-left: 0px !important;
			}
		}

	</style>

{% endblock %}

{% block body %}

	<!-- main page container start -->
	<div class="row fill twitter-bg">

		<!-- side margin -->
		<div class="col-sm-1 col-lg-2"></div>

		<!-- centered content -->
		<div class="col-sm-10 col-lg-8 centered-content">

			<!-- title container -->
			<div class="row">

				<!-- side margin -->
				<div class="col-md-2"></div>

				<!-- title content -->
				<div class="col-md-8 content-title text-center">
					<h1>TWEETS ABOUT ${ city|toUpper }</h1>
				</div>
				<!-- title content end -->

				<!-- side margin -->
				<div class="col-md-2"></div>

			</div>
			<!-- title container end -->

			<!-- map and search content -->
			<div class="col-md-12 main-content">

				<div class="row" style="margin-bottom: 15px;'">
					<div class="col-lg-8">
						<h5 v-if="doingRequest">Doing search - <i>Please Wait</i></h5>
					</div>
					<div class="col-sm-6 col-lg-2">
						<div class="col-12 select-label">
							<label>
								Distance:
							</label>
						</div>
						<select class="col-12 custom-select selects" v-model="distance">
							<option>Plese Select</option>
							<option v-for="distance in distances" :value="distance">${ distance }kg</option>
						</select>
					</div>

					<div class="col-sm-6 col-lg-2">
						<div class="col-12 select-label">
							<label>
								Tweet Count:
							</label>
						</div>
						<select class="col-12 custom-select selects" v-model="count">
							<option>Plese Select</option>
							<option v-for="count in tweetCount" :value="count">${ count }</option>
						</select>
					</div>
				</div>

				<div class="col-md-12 map" id="map"></div>

				<div class="row">

					<!-- search content -->
					<div class="col-sm-12 col-lg-6 row search-section">

						<div class="col-md-3">
							City Name:
						</div>

						<div class="col-md-9">
							<input type="text" class="form-control search-input" v-model="city"/>
						</div>

					</div>
					<!-- search content end -->

					<!-- buttons container -->
					<div class="col-sm-12 col-lg-6 row btns-cont" style="padding: 0px">

						<button type="button" class="btn btn-primary btn-lg col-sm-12 col-lg-6" @click="getLocation()">
							SEARCH
						</button>

						<button type="button" class="btn btn-primary btn-lg col-sm-12 col-lg-6" data-toggle="modal" data-target="#history-modal">
							HISTORY
						</button>

					</div>
					<!-- buttons container end -->

				</div>

			</div>
			<!-- map and search content end -->

		</div>
		<!-- centered content end -->

		<!-- side margin -->
		<div class="col-sm-1 col-lg-2"></div>

	</div>
	<!-- page container end -->

	<div id="history-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Search History</h4>
				</div>

				<div class="modal-body">
					<ul>
						<li v-for="entry in history">${ entry }</li>
					</ul>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>

			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu5nZKbeK-WHQ70oqOWo-_4VmwOwKP9YQ"></script>

	<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

	<script type="text/javascript">

		function doRequest (url, method, success, err, params)
		{
			if (typeof params !== 'object') params = [];

			var self = this;

			var req = $.ajax(
				{
					url: url,

					method: method,

					data: params,

					processData: typeof params === 'object' && Object.keys(params).length > 0
				}
			);

			req.done(function(content)
				{
					self.doingAction = false;

					if (success) success(content);
				}
			);

			req.fail(function(content, status)
				{
					console.log('Do request error: ', content);

					if (err) err(content.responseText, content);
				}
			);
		}

		var log = console.log;

		var app = new Vue({

			el: '#app',

			delimiters: ['${', '}'],

			filters:
			{
				toUpper: function (value)
				{
					if (!value) return '';
					value = value.toString();
					return value.toUpperCase();
				}
			},

			data:
			{
				map: null,
				city: 'bangkok',
				location: null,
				count: 20,
				distance: 50,
				foundTweets: [],
				currentFoundTweet: -1,

				distances: [10, 20, 30, 40, 50, 80, 100, 150, 200, 250, 300],
				tweetCount: [10, 20, 30, 40, 50, 80, 100, 150, 200, 250, 300],

				history: [],

				doingRequest: false,
			},

			mounted: function ()
			{
				google.maps.event.addDomListener(window, 'load', this.initMap);
			},

			methods:
			{
				initMap: function (lat, lng)
				{
					if (this.map !== null) this.map = null;

					var isInit = false;

					if (typeof lng === 'undefined')
					{
						this.getLocation();
						return;
					}
					else
					{
						this.location = new google.maps.LatLng(lat, lng);
					}

					var mapCanvas = document.getElementById('map');
					var mapOptions = {
						center: this.location,
						zoom: 11,
						panControl: false,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					}

					this.map = new google.maps.Map(mapCanvas, mapOptions);
				},

				getLocation: function ()
				{
					this.doingRequest = true;

					var geocoder =  new google.maps.Geocoder();

					var self = this;

					geocoder.geocode( {'address': this.city}, function(results, status)
					{
						if (status == google.maps.GeocoderStatus.OK)
						{
							var lat = results[0].geometry.location.lat();
							var lng = results[0].geometry.location.lng();

							self.getTweets(lat, lng);
						}
						else
						{
							alert("Something got wrong " + status);
							self.doingRequest = false;
						}
					});
				},

				getTweets: function (lat, lng)
				{
					var self = this;

					var url = Routing.generate(
						'get_twitter_feed',
						{
							lat: lat,
							lng: lng,
							search: this.city,
							count: this.count,
							distance: this.distance
						}
					);

					doRequest(
						url,
						'get',
						function (resopnse)
						{
							var data = JSON.parse(resopnse);

							self.initMap(lat, lng);

							self.foundTweets = data;

							if (data.length > 0)
							{
								self.currentFoundTweet = 0;
								self.setMarkers();

								if (self.history.indexOf(self.city) == -1)
								{
									self.history.push(self.city);
								}
							}
							else
							{
								self.doingRequest = false;
							}
						},
						function (error)
						{
							log(error);
							self.doingRequest = false;
						}
					);
				},

				setMarkers: function ()
				{
					if (typeof this.foundTweets[this.currentFoundTweet] === 'undefined')
					{
						this.doingRequest = false;
						return;
					}

					var self = this;

					setTimeout(function() {
						self.addMarker(self.foundTweets[self.currentFoundTweet]);
						self.setMarkers();
						self.currentFoundTweet++;
					}, 200);
				},

				addMarker: function (tweet)
				{
					if (typeof tweet === 'undefined') return;

					var markerImage = tweet.avatar;

					var marker = new google.maps.Marker({
						position: new google.maps.LatLng(tweet.lat, tweet.lng),
						map: this.map,
						icon: {
							url: markerImage,
							scaledSize: new google.maps.Size(64, 64)
						},
						maxHeight: 50,
						maxWidth: 50,
						animation: google.maps.Animation.DROP,
					});

					var contentString = '<div class="info-window">' +
							'<h4><a href="' + tweet.link + '">' + tweet.user + '</a> - <i>' + tweet.date + '</i></h4>' +
							'<div class="info-content">' +
							'<p>' + tweet.text + '</p>' +
							'</div>' +
							'</div>';

					var infowindow = new google.maps.InfoWindow({
						content: contentString,
						maxWidth: 450,
						maxHeight: 100,
					});

					marker.addListener('click', function () {
						infowindow.open(this.map, marker);
					});
				}
			}
		})

	</script>

{% endblock %}